<configuration>

    <!-- Конфигурация для консольного вывода -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Конфигурация для файла -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/shipping-service.log</file>
        <append>false</append>  <!-- true - будет сохранять предыдущие записи -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для корневого логгера -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
